<!--
  Created by IntelliJ IDEA.
  User: dmitr
  Date: 06.06.2016
  Time: 12:16
  To change this template use File | Settings | File Templates.
-->
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" xmlns="http://www.w3.org/1999/xhtml" version="2.0">
    <jsp:useBean id="user" class="dto.UserDTO" scope="request"/>
    <jsp:setProperty name="user" property="*"/>
    <html>
    <head><title>Title</title></head>
    <body>

    </body>
    </html>
</jsp:root>
